<%= render component_tag(x: {data: "nookTabGroup(#{name.to_json})", id: "['tab']"}) do %>
  <% if tabs.any? %>
    <ol class="tabgroup-tabs" x-ref="tablist" role="tablist">
      <% tabs.each do |tab| %>
        <li class="tabgroup-tab">
          <%= tab %>
        </li>
      <% end %>
    </ol>
  <% end %>
<% end %>
